[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
Flask = "*"
Jinja2 =  "*"
MarkupSafe =  "*"
Werkzeug =  "*"
click =  "*"
itsdangerous =  "*"
pip = "9.0.1"
pymongo = "3.6.0"
setuptools = "38.4.0"
wheel = "0.30.0"

[requires]

python_version = "3.6.4"

